/* レイアウト */
.container {
  max-width: 400px;
  padding: 24px;
}


/* 「相手 opponent」 */
.opponent__container {
  padding: 24px;
  text-align: center;
}
.opponent {
  display: flex;
  height: 200px;
  align-items: center;
  justify-content: center;
}
.opponent__img {
  width: auto;
  height: 100%;
}


/* 「自分 myself」 */
.myself {
  padding: 24px 0;
}
.myself__btn {
  display: flex;
  height: 80px;
  padding: 12px;
  border-radius: 12px;
  border: 2px solid #000;
  align-items: center;
  justify-content: center;
}
.myself__btn:hover {
  background: #f5f5f5;
}
.myself__btn.is-selected {
  background: #eeffff;
}
.myself__img {
  width: auto;
  height: 100%;
}


/* 「結果 result」 */
.result {
  padding-bottom: 24px;
}


/* 「リセット reset」 */
