//- 変数の設定
- var TITLE = 'チャット'
- var DESCRIPTION = 'チャットツールの作成'

//- HTML
doctype html
html(lang="ja")
  head
    include html/module/head.pug
    link(rel='stylesheet', href='sass/style.scss')

  body
    //- ヘッダー参考
    //- include html/module/header.pug

    div.container
      //- include html/page/sample.html
      include html/page/chat.html

    //- フッター参考
    //- include html/module/footer.pug

    //- スクリプト読込
    script(src='scripts/index.ts')
