/* レイアウト */
.container {
  max-width: 400px;
  padding: 24px;
}
.columns {
  display: flex;
  flex-wrap: wrap;
}
.column {
  display: flex;
  width: 25%;
  height: 72px;
  flex-basis: initial;
  align-items: center;
  justify-content: center;
}

/* 計算数値 */
.calculator-calc {
  margin-bottom: 24px;
}

/* ボタン */
.button {
  width: 100%;
  height: 100%;
}
