/* レイアウト */
.container {
  max-width: 400px;
  padding: 24px;
}
.content {
  text-align: center;
}

/* タイマー */
.timer-input {
  display: flex;
  align-items: center;
}
.timer-input__container {
  margin-bottom: 12px;
}
.timer-input__input {
  width: 5%;
}
.timer-input__input.control {
  width: 30%;
}
