-
  var headerNavItems = [
    {
      label: 'item1',
      link: 'link1',
    },
    {
      label: 'item2',
      link: 'link2',
    },
    {
      label: 'item3',
      link: 'link3',
    },
  ]

  var footerItems = [
    {
      category: 'category1',
      links: [
        {
          label: 'footer1-1',
          link: 'link1-1',
        },
        {
          label: 'footer1-2',
          link: 'link1-2',
        },
        {
          label: 'footer1-3',
          link: 'link1-3',
        },
      ]
    },
    {
      category: 'category2',
      links: [
        {
          label: 'footer2-1',
          link: 'link2-1',
        },
        {
          label: 'footer2-2',
          link: 'link2-2',
        },
        {
          label: 'footer2-3',
          link: 'link2-3',
        },
      ]
    },
  ]
